<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootteach.mapper.TAppointmentMapper">
    <select id="selectBySId" resultType="com.example.springbootteach.entity.TAppointment">
        select *from t_appointment
        where s_id=#{sid}
    </select>
    <select id="selectByTIdAndSId" resultType="com.example.springbootteach.entity.TAppointment">
        select *from t_appointment
        where t_id=#{tid}
         and s_id=#{sid}
    </select>
</mapper>
