<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootteach.mapper.TClassMapper">
    <select id="selectByTId" resultType="com.example.springbootteach.entity.TTeacher">
        select *from t_class
        where t_id=#{tid}
    </select>
</mapper>
